body {
	background-color: beige;
}

h1 {
	font-family: Verdana;
	font-size: 36pt;
	color: brown;
}

h2 {
	font-family: Verdana;
	font-size: 20pt;
	color: sienna;
}

h3 {
	font-family: Verdana;
	font-size: 18pt;
	color: midnightblue;
}

p {
	text-indent: 2em;
	font: Arial;
	color: black;
}

li {
	font-family: Verdana;
	color: darkolivegreen;
}

li:first-child {
	color: black;
	text-decoration: underline;
}

h1:first-letter {
	font-size: 80pt;
	color: blue;
}

img {
	width: 250px;
	height: 200px;
}
